<DOCTYPE! html>
<html>
<head>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <meta name="google-signin-client_id" content="{{ GoogleClientId }}">
</head>
<body>
    <h1>Login:</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="auth/google/login">Login with Google</a>


    <script type="text/javascript">
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail());
          googleVals = {};
          googleVals.idToken = googleUser.getAuthResponse().id_token;
          console.log('ID Token: ' + googleVals.idToken);

          var xhr = new XMLHttpRequest();
          xhr.open('POST', 'auth/google/login');
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
          };
          xhr.send("idToken=" + googleVals.idToken);
        }

        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }

    </script>
</body>
</html>